*{
	margin:0px;
	padding:0px;
}
html,body{
	height:100%;
}
#wrapper{
	margin-top:50px;
}
/*.btn-primary{
	border-radius:20px;
}*/
footer{
	background: #222;
	color:white;
	padding:20px;
}
footer a{
	font-size:20px;
	text-decoration: none;
}
.sub-menu img{
	margin-bottom:20px;
	border-radius: 5px;
}
.sub-menu img:hover{
	opacity:.5;
}
.navbar-inverse{
	border-radius: 0px;
}
.gallery-page>div>div>img{
	padding:10px 0;
	border-radius: 5px;
}

.menu-page .menu>ul>li{
	list-style: none;
	display: block;
	text-align:center;
}

.menu-page .menu>ul>li>span>img{
	width:100px;
	position:absolute;
	padding:5px;
	background-color: #00000075;
	border-radius: 4px;
}
.menu-page .menu>ul>li>span{
	display: block;
	position:relative;
	display:none;
}
.menu-page .menu>ul>li>span{;
	position:relative;
	display:none;
}
.contact-page input, .contact-page textarea{
	margin-bottom:20px;
}

.text-inside{
	position:relative;

}
.top-left{
	position:absolute;
	background-color: transparent;
	height:50px;
	border:1px solid transparent;
}
.top-left>img{
	height:100%;
}

.modal-content{
	background: transparent;
}
#modal-img{
	width:100%;
}

.myGallery{
	filter:grayscale(100%);
	transition: .5s;
	border-radius:5px;
}
.myGallery:hover{
	filter:grayscale(0);
	cursor: pointer;
	transform: scale(1.1);
}